

body{
    font-family: 'Montaga', serif;
   background-color: black;
   height: 200vh; 
}


img{
    width: 25%;
    height: 25%;
    border-radius: 75% ;
    position: absolute;
    right: 5%;
    top:10%;
    animation: appear 2s;
    box-shadow: 2px 2px 5px white;
}
@keyframes appear{
    0%{
        opacity: 0;
    }
 
    100%{
        opacity: 1;
    }
}
.contento{
    margin-left: 2%;
    padding: 1%;
    position: relative;
  margin-left: 5rem;
  margin-top: 15rem;
}
.typing::after{
    
    content: "";
    position: absolute;
    margin-left: 2px ;
    width: 1px;
    height: 70%;
    border-right: 2px solid white;
    animation: blink 0.5s infinite ease;
}
@keyframes blink{
0%{
    opacity: 0;
}
49%{
    opacity: 0;
}
99%{
    opacity: 1;
}
100%{
    opacity: 1;
}

}
.hi:hover {
    background-color: goldenrod;
      font-size: large;
      
  }

.card1{
    margin-top:20%;
}
/* mobile */
@media only screen and (max-width: 600px)
{   
    .typing::after{
   
        height: 100%;
                
    }
    .contento{
        margin-top: 50vh ;
        margin-left: 6% ;
        
    }
    .hi{
        background-color: black;
        display: block; 
     }
     .hi:hover {
       background-color: goldenrod;
         font-size: large;
         
     }
     
     img{
        width: 70%;
        height: 70%;
        right: 15%;
        top:3%;
    }
}